/*Background, Body, & Header Style*/
html {
    background-color: mintcream;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: royalblue;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}
/*End of Background, Body, & Header Style*/

/*Typography*/
header h1 {
    margin-bottom: 80px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 165%;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-shadow: 2px 10px 1px #999999;
}

header p {
    font-size: 100%;
    margin-top: 10px;
    text-align: justify;
    color: royalblue;
}

header p a {
    text-decoration: none;
}

p a {
    margin-top: 10px;
    text-indent: 25px;
    color: royalblue;
    line-height: 2;
    text-decoration: none;
}

h3 a {
    text-decoration: none;
    color: royalblue;
}

h4 a {
    text-decoration: none;
    color: royalblue;
}
/*End of Typography*/

img {
    max-width: 100%;
    height: auto;
}

h5 {
    text-align: center;
}

/*Image and Video*/
.image-banner {
    position: relative;
    top: none;
    left: 5px;
}

.image-banner img {
    display: block;
}

.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 108px;
}

.banner-description p {
    color: white;
}

video {
    width: 570px;
}
/*End of Image and Video*/

/*Site Navigation*/
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.site-nav a {
    text-decoration: none;
    color: royalblue;
    padding: 10px 20px;
    border: 3px solid mintcream;
    border-bottom: none;
    display: block;
}

.site-nav a:hover {
    background-color: mintcream;
}
/*End of Site Navigation*/

/*Content Style*/
.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background: url(Grey\ Wallpaper.jpg) left bottom repeat-x, lightgray url(Grey\ Wallpaper.jpg) left top repeat-x;
    padding: 15px 20px 40px 40px;
    box-sizing: border-box;
}

.box1 {
    background-image: url(Arknights\ Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 50px;
}

.content-area {
    border-top: 3px solid mintcream;
    border-bottom: 3px solid mintcream;
}

.main-area {
    width: 70%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.support {
    width: 30%;
    float: left;
    background-color: mintcream;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fix {
    clear: both;
}
/*End of Content Style*/

/*Font Color, Style, and Highlights*/
p {
    color: black;
}

.box1 p {
    text-align: center;
    background-color: whitesmoke;
}

footer {
    color: red;
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

h1 {
    color: royalblue;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

header p {
    color: blueviolet;
}

aside {
    color: royalblue;
}

.sidebar li {
    list-style: none;
    color: royalblue;
    margin-top: 10px;
}

.sidebar a {
    text-decoration: none;
}

.MSR {
    font-size: 115%;
}

.sample {
    text-align: center;
    margin-left: 245px;
    color: blueviolet;
}

h5 a {
    text-decoration: none;
    color: royalblue;
}
/*End of Font Color, Style, and Highlights*/

/*Table (Operators)*/
.Operators {
    border-collapse: collapse;
    margin: 0;
    font-size: 1.2em;
    min-width: 600px;
}

.Operators img {
    width: 150px;
    height: 150px;
}

.Operators thead tr {
    background-color: mintcream;
    color: blueviolet;
    text-align: center;
}

.Operators tbody tr {
    text-align: center;
}

.OPName a,
abbr {
    color: cornflowerblue;
    text-decoration: none;
}

.Operators th,
.Operators td {
    padding: 5px 15px;
    border: 1px solid mintcream;
}

.Operators tbody tr {
    border: 1px solid mintcream
}
/*End of Table (Operators)*/

.OPClasses {
    text-align: center;
}

.OPList li {
    list-style: none;
    text-align: center;
    float: left;
    margin-right: 50px;
    display: block;
}
/*Media Query*/
@media screen and (mix-width:1300px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 700px) {
    .main-area,
    .support {
        width: auto;
        float: none;
    }

    .main-area {
        padding-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .site-nav li {
        width: 65%;
        margin: 0;
        margin-left: 115px;
    }

    .site-nav a {
        padding: 20px 0;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
        border: 3px solid #e5e9dc;
    }
}


@media screen and (max-width: 480px) {
    .site-nav li {
        width: 70%;
        margin-left: 65px;
    }

    .site-nav a {
        padding: 20px 0;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
        border: 3px solid #e5e9dc;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-area {
        padding-top: 20px;
    }
}

@media screen and (max-width:480px) {
    .Operators {
        border-collapse: collapse;
        margin: 0;
        font-size: 0.8em;
        min-width: 92px;
    }

    .Operators img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:480px) {
    video {
        width: 350px;
    }    
}

@media screen and (max-width:480px) {
    .sample {
        text-align: center;
        margin-left: 45px;
    }    
}

.info-box {
    background-color: #efeedb;
    border: 5px solid #e6e5c2;
    padding: 20px 40px 7px 40px;
    margin-bottom: 1em;
}

@media screen and (max-width: 480px) {
    .hide-small {
        display: none;
    }    
}
/*End of Media Query*/
